
/* More predictable sizing */
* {
    box-sizing: border-box;
}

/* Spacing around "solDiv", "exDiv", "globDiv" */
#solDiv, #exDiv, #globDiv, div.templateDiv {
    margin: 5px 0;
    padding: 5px;
}


/* Put yellow frame around div with class "warning" */
.warning {
    border: 1px solid yellow;
}

/* Put red frame around div with class "error" */
.error {
    border: 1px solid red;
}

/* Style list elements inside a list with id "generalConfigList" */
#generalConfigList li {
    /* border: 1px solid green; */
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Reduce top/bottom spacing around lists with class "fileList"
Leave left/right spacing the same */
.fileList {
    margin-top: 0;
    margin-bottom: 0;
}
